<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imcore.x_bionic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.imcore.x_bionic.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.ImageLogoActivity"
            android:label="@string/title_activity_image_logo"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.LoadActivity"
            android:label="@string/title_activity_load"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.QQLoginActivity"
            android:label="@string/title_activity_qqlogin"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.SinaLoginActivity"
            android:label="@string/title_activity_sina_login"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.HelpFragmentent"
            android:label="@string/title_activity_help_fragment"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.ProductActivity"
            android:label="@string/title_activity_store"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.StoryActivity"
            android:label="@string/title_activity_story"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.XActivity"
            android:label="@string/title_activity_x"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.IntroduceActivity"
            android:label="@string/title_activity_introduce"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.StoreActivity"
            android:label="@string/title_activity_buy"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.SecondStoreFragment"
            android:label="@string/title_activity_second_store_fragment" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.ProductDetailsActivity"
            android:label="@string/title_activity_product_details"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.ProductDetailFragment"
            android:label="@string/title_activity_product_detail_fragment"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.image.Imageshow2"
            android:label="@string/title_activity_imageshow2"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.image.Imageshow3"
            android:label="@string/title_activity_imageshow3"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.CommentsActivityity"
            android:label="@string/title_activity_comments" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.ShoppingActivity"
            android:label="@string/title_activity_shopping"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.NewsListActivity"
            android:label="@string/title_activity_news_list" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.AwardWinActivity"
            android:label="@string/title_activity_award_win" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.BuyActivity"
            android:label="@string/title_activity_buy"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.CollectionActivity"
            android:label="@string/title_activity_collection"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ui.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.ArchActivity"
            android:label="@string/title_activity_arch"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.imcore.x_bionic.MasterActivity"
            android:label="@string/title_activity_master" >
        </activity>
    </application>

</manifest>
